.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
